.logoContainer {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1/1;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvasContainer {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  overflow: visible !important;
  background: transparent !important;
  
}

